{% extends "base.html" %}

{% block title %}Öğrenci Ekle{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Yeni Öğrenci Ekle</h2>
    <hr>

    <form method="POST">
        <div class="mb-3">
            <label for="ad" class="form-label">Ad:</label>
            <input type="text" class="form-control" id="ad" name="ad" required>
        </div>
        <div class="mb-3">
            <label for="soyad" class="form-label">Soyad:</label>
            <input type="text" class="form-control" id="soyad" name="soyad" required>
        </div>
        <div class="mb-3">
            <label for="numara" class="form-label">Numara:</label>
            <input type="text" class="form-control" id="numara" name="numara" required>
        </div>
        <div class="mb-3">
            <label for="sinif" class="form-label">Sınıf (İsteğe Bağlı):</label>
            <input type="text" class="form-control" id="sinif" name="sinif">
        </div>
        <div class="mb-3">
            <label for="dogum_tarihi" class="form-label">Doğum Tarihi (YYYY-MM-DD) (İsteğe Bağlı):</label>
            <input type="date" class="form-control" id="dogum_tarihi" name="dogum_tarihi">
        </div>
        <button type="submit" class="btn btn-primary">Öğrenciyi Ekle</button>
        <a href="{{ url_for('anasayfa_kullanici') }}" class="btn btn-secondary">İptal</a>
    </form>
</div>
{% endblock %}